.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.logo{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.App-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(246, 57, 141);
  margin-top: -5rem;
}

.app-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(246, 57, 141);
}

.cadastre{
  font-size: 25px;
  font-weight: bold;
  margin-left: 2px;
}

.negrito{
  font-weight: bold;
}

.fs-20{
  font-size: 20px;
}

.fs-14{
  font-size: 14px;
}

.mt-1{
  margin-top: 1em;
}

.mt-10{
  margin-top: 2em;
}

.left{
  float: left;
}

.ml-1{
  margin-left: 1em;
}

.black{
  color: black;
}

.termos{
  font-size: 0.8rem;
}

.regras{
  padding-left: 1rem;
}

.custom-form-group .form-control {
  border-color: #ff7dbd;
}

.linha{
  display: flex;
  flex-direction: row;
}

.lista_itens{
  color: rgb(119, 119, 119);
  font-size: 80%;
  text-align: left;
}

.underline{
  width: 100%;
  border-bottom: 1px solid rgb(246, 57, 141);
}

.botao{
  background: rgb(246, 57, 141);
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out 0s;
}